.register-div-top-border{border: 1px solid #ea68a2;}
	.register2-div-top-text-align{text-align: center;}
.register-image-center-size{width: 50px; height: 50px; margin:0 auto; display: block;border-radius: 50%;
 animation: bgcolor 10s linear 0s infinite ;}

.register-bgimage{background-image: url(../../image/signIn-1.jpg);
	background-repeat: no-repeat; background-size: cover;}
	.row-getcode{width: 60%; margin: 0px auto; text-align: left;}
	.register-div-top-border{ background:rgba(239,127,189,0.5); z-index: 2; color: #59002e;}
	.bg-images-input-border{text-align: center; }
	.bg-images-input-border input{border: 1px solid #ea68a2; text-indent: 1em; line-height: 40px; height: 40px; width: 100%;
		/*margin: 5% 0;*/}
	.register-input-size{width:100%; text-indent: 0;}
	.register-button-line-height{ line-height: 40px; display: inline-block; width: 49%;}
	.getcode{padding: 10px 2px !important; border-radius: 10px;
		background-color: #f682bf;}
	.register-button-width{width: 60%; height: 40px; background-color: #ac0059; color: #fff; border-radius: 10px;
		margin: 5% 0;}
	.register-p-position{position: relative; line-height: 40px; text-indent: 20px; margin: 0;}
	.register-p-position input{margin: 0;}
	.register2-input-position{width: 20px !important; height: 20px !important; position: absolute !important;
		top: 10px !important; left: 0 !important;}
		.register-height{display: inline-block;width: 60%; margin-top: 10px;}
	.register-border{border: 1px solid #eb6877;}
	.register4-div-text-align{margin: 5% 0;}
	.register4-div-text-align div{text-align: center;}
	.register4-div-text-align div p{margin: 0;}
	.register2-p-hr{border-top: 1px solid #7d0000; width: 100%; margin-top: 14px;}
	.register3-div-text-align{text-align: center; line-height: 30px;}
	.button-box{padding: 0; height: 40px!important; text-align: center;float: right;}
	.button{padding: 0; height: 40px!important;}
.register3-p-image-size img{width: 20px; height: 20px; display: block; margin: 0 auto;}


@keyframes bgcolor {
				from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}}