
<div class="public-content">
<div class="col col-position">
	<div class="row">
			<ion-list>
					<span class="public-text-color">护肤方案</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span ng-click="skincaresteps()">护肤步骤</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span ng-click="starClass()">明星系类</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>精油护肤</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>纯露单品</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>精油手工皂</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>护肤单品集</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>香薰配件</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>超值套装</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span>第二件一元</span>
			</ion-list>
	</div>
	<div class="row">
			<ion-list>
					<span class="public-lest">特卖专场159-500元</span>
			</ion-list>
	</div>
</div>
</div>