.classification-top-border{border: 1px solid red; background:#ddd; z-index: 2; color: #59002e;
	height: 40px; line-height: 30px; border-radius: 5px;}
.pclassification-header{margin: 0; text-align: center; font-size: 16px; color: #cf0298;}

.classification-header{color: #5b0061; line-height: 44px;}
	.classification-header-input{ width: 80%; margin: 0 auto; padding: 0;position: relative;}
	.classification-header-input input{width: 100%; height: 44px;
	line-height: 44px; display: inline-block;border-radius: 20px;
	text-align: center; padding:0; border:1px solid #ddd; margin: 0;}
	.classification-header-input b{position: absolute; height: 20px; width: 20px; top: 12px;
	left:30px;}
	.classification-header-input img{width: 20px; height:100%; display: block;}
.bar-header{height: auto;}



.input-align{text-align: center; height: 100%;}

.classification-row-footer{padding: 0 0 0 30%;}
.classification-list-image img{width: 50px;display: block; margin: 0 auto;}
.classification-content-box{text-align: center;}
.classification-content-bg{background-color: #f2f2f2;}
.col-position{position: fixed; top: 100px; left: 0; width: 30%; line-height: 44px; overflow: hidden;
background-color: #fff;}
.public-text-color{color: #ff00ff;}
.public-text-color1{color: #ff00ff;}
.public-text-color2{color: #ff00ff;}
.public-lest{height: 44px; overflow: hidden; display: block;}

.view-product{height: 700px;}