<ion-content>
	<div class="productParameterPage-content">
	<i class="productParameterPage-position" ng-click="productList('publicfooter.index')">
		<img src="./icons/productDetailsPage-4.png">
	</i>
	<ion-slide-box auto-play="banner.autoPlay" does-continue="{{banner.doesContinue}}"
		slide-interval="{{banner.intervalTime}}" show-pager="{{banner.showPager}}" show-pager="{{banner.showPager}}">
		<ion-slide ng-repeat="x in imagearr track by $index">
			<img class="productParameterPage2-full-image" ng-src="{{x.img}}"/>
		</ion-slide>
	</ion-slide-box>

	<div class="productParameterPage-bg-color">
	<div class="productDetailsPage-content">
		<div class="row">
			<div class="col">【前5分钟抢68元红包】汇美舍普罗旺斯醒目薰衣草精油 淡化痘印</div>
		</div>

		<div class="row">
			<div class="col">普罗旺斯 产地直供 祛痘淡印 助睡眠</div>
			<i class="icon ion-android-share-alt"></i>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><span>原价</span>￥188.00</p>
		</div>

		<div class="col">
			<p><span>￥</span>138.00</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>快递：8.00</p>
		</div>

		<div class="col">
			<p>月销：2285</p>
		</div>

		<div class="col">
			广东广州
		</div>
	</div>
	<div class="row">
		<div class="col" ng-click="productList2('productDetailsPage',data.data.clsify[0].pid)">
			<p><span>产品详情</span></p>
		</div>

		<div class="col">
			<p>产品参数<i id="icons-color-productParameterPage" class="icon ion-arrow-down-b"></i></p>
		</div>

		<div class="col">
			<p ng-click="productList('productEvaluation')">产品评价</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>产品名称</p>
		</div>

		<div class="col">
			<p>Pretty Valley/汇美舍醒目薰衣草精油</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>品牌</p>
		</div>

		<div class="col">
			<p> Pretty Valley/汇美舍</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>产地 </p>
		</div>

		<div class="col">
			<p>中国</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>精油心理疗效</p>
		</div>

		<div class="col">
			<p>改善失眠</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>精油身体疗效 </p>
		</div>

		<div class="col">
			<p>其他/other</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>精油皮肤疗效</p>
		</div>

		<div class="col">
			<p>控油/舒缓肌肤/淡化痘印</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>适合肤质</p>
		</div>

		<div class="col">
			<p>任何肤质</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>化妆品保质期 </p>
		</div>

		<div class="col">
			<p>36个月</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>原料成分</p>
		</div>

		<div class="col">
			<p>薰衣草</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>化妆品净含量</p>
		</div>

		<div class="col">
			<p>10ml</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>限期使用日期范围</p>
		</div>

		<div class="col">
			<p>2019-10-28至2019-10-28</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>是否为特殊用途化妆品</p>
		</div>

		<div class="col">
			<p>否</p>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<p>单方精油单品</p>
		</div>

		<div class="col">
			<p>醒目薰衣草精油</p>
		</div>

	</div>
</div>
</div>
</ion-content>
