.pendingDelivery-top-border{border: 1px solid #ea68a2;background:#eee; z-index: 2; color: #59002e;height: 40px;
	 border-radius: 5px; margin-bottom: 10px;}
.pendingDelivery-p-top-text-align{text-align: center; color: #5b0061;}

.pendingDelivery2-div-position{position: relative;}
	.pendingDelivery2-div-position input{border: 1px solid #ededed; background-color: #ededed;
	border-radius: 20px; height: 40px; line-height: 40px; text-indent: 40px; width: 80%;
	display: inline-block; margin-right: 10px;}
	.pendingDelivery2-div-position img{position: absolute; width: 20px; height:20px; top:15px;
	left: 20px; }
	.pendingDelivery3-div-position-icons{position: relative;}
	.pendingDelivery3-div-position-icons i{position: absolute; top: 0;left: 0; bottom: 0; right: 0;
		margin: auto; width: 20px; height: 20px; color: #fc99fb;}
	.pendingDelivery-span-text-color{text-align: right; padding-right: 20px; color: #ff0000;}
	.pendingDelivery2-span-text-color{color: #777;}
	.pendingDelivery2-p-align p{text-align: center; margin: 0;}
	.pendingDelivery2-p-text-color{color: #f001ff;}
	.pendingDelivery3-p-image-size{height: 100%;}
	.pendingDelivery3-p-image-size img{width: 100%; height: 100%; display: block; margin: 0 auto;}
	.pendingDelivery3-div-bg-color{background-color: #f7f7f7; margin-bottom: 5px;}
	.pendingDelivery3-div-bg-color p{margin:0;}
	.pendingDelivery4-p-icons-color{margin-top: 0; line-height: 30px;}
	.pendingDelivery4-p-icons-color i{color: #0f89f5;}
.pendingDelivery4-p-border{border: 1px solid #ff0000; display: inline-block; border-radius: 5px; color: #ff0000;
padding:5px;}

.pendingDelivery5-p-footer-align{text-align: center; color: #8a8a8a; line-height: 50px; margin:0;}
	.pendingDelivery7-div-position{position: relative;}
	.pendingDelivery-footer-hr-position{position: absolute; top: 30px; border: 1px solid #bfbfbf;
		width: 100%; left: 0;}
	.pendingDelivery7-div-padding{padding: 0;}
.pendingDelivery-position-icons{position: fixed; right: 20px; bottom: 40px; color: #ffa9ff;}

/*改动*/
.pendingDelivery8-div{background-color: #f7f7f7; margin-bottom: 5px;}
	.pendingDelivery8-div p{margin:0;}
	.pendingDelivery9-text-color{color: #777; border: 1px solid #ddd; border-radius: 5px; display: inline; padding: 0 5px;}
.pendingDelivery6-div-align{line-height: 30px;}