<div>
<ion-content>
	<div class="settlement-div-top">
		<h3 class="nth-text-color">购物车(5)</h3>
	</div>
	<div class="row nav">
		<div class="col">
			<p class="nav-input">
				<i class="icon ion-android-search"></i>
				<input type="text" placeholder="在我的购物车里搜索">
				<span>搜索</span>
			</p>
		</div>
	</div>	

	<div class="row">
		<div class="col">
			<p class="text-align-right" ng-click="compiler()">编辑</p>
		</div>
	</div>


	<div class="row settlement-p-margin" ng-repeat="item in settlement track by $index">
		<div class="col col-20 settlement-images">
			<img ng-src="{{item.image}}">
		</div>

		<div class="col">
			<div class="row settlement-border-bottom-top">
				<div class="col">
					<p>
						{{item.text}}
					</p>
					<p>
						{{item.span}} <span class="{{item.cls}} text-padding-right">{{item.span2}}</span>
						<i class="icon ion-android-star-outline icons-color text-padding-left"></i>
					</p>
					<p class="settlement-text-align">{{item.textright}}</p>
					<p>
						<span class="settlement-color-text">{{item.textcolor}}</span>
						<font class="settlement-color-text">{{item.textcenter}}</font>{{item.footertext}}
					</p>
				</div>
				<div class="col col-20 icons-position">
					<div>
				       <input type="checkbox" value="" checked="{{item.checked}}"/>
				    </div>
				</div>
			</div>
		</div>
	</div>


	<div>
		<div class="settlement-position">
			<i class="icon ion-heart position-nth1"></i>
			<span class="hr-left"></span>
			<i class="center-position icon ion-heart"></i>
			<i class="center-hr-position"><b></b></i>
			<font class="settlement-position-text">猜你喜欢</font>
			<p class="position-lest-hr"></p>
			<i class="icon ion-heart position-icons-lest"></i>
		</div>
	</div>

	<div class="row settlement-image-size">
		<div class="col">
			<p><img src="./icons/shoppingCart-6.png"></p>
			<p>汇美舍保加利亚玫瑰补水套装补水护肤品套装</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥915.00</span>333人付款</p>
		</div>

		<div class="col">
			<p><img src="./icons/shoppingCart-7.png"></p>
			<p>
				汇美舍玫瑰檀香丝柔润滑套装保湿补水平滑提亮套装 
			</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥434.00</span>666人付款</p>
		</div>
	</div>

	<div class="row settlement-image-size">
		<div class="col">
			<p><img src="./icons/shoppingCart-8.png"></p>
			<p>汇美舍精油玫瑰丰润提升精油50ml紧致提升弹性弹润胸部</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥390.00</span>333人付款</p>
		</div>

		<div class="col">
			<p><img src="./icons/shoppingCart-9.png"></p>
			<p>
				汇美舍保加利亚大马士革玫瑰精油5ML单方精油香薰滋养
			</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥498.00</span>999人付款</p>
		</div>
	</div>

	<div class="row settlement-image-size">
		<div class="col">
			<p><img src="./icons/shoppingCart-10.png"></p>
			<p>汇美舍茉莉玫瑰籽水漾舒缓爽肤液150ml爽肤水舒缓</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥102.00</span>333人付款</p>
		</div>

		<div class="col">
			<p><img src="./icons/shoppingCart-11.png"></p>
			<p>
				汇美舍普罗旺斯薰衣草菁华液160ml 补水保湿滋润控油爽
			</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥110.00</span>666人付款</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="settlement-footer-label">
				<label>全选</label><input type="checkbox" value="" checked />
			</p>
		</div>
		<div class="col">
			<p>合计：￥0</p>
		</div>
		<div class="col">
			<p class="footer-background-color">
				结算
			</p>
		</div>
	</div>
	<div class="row settlement-footer">
		<div class="col"></div>
	</div>
</ion-content>
