.starclass2-left{margin-left:30%; margin-top: 100px;
overflow: hidden;}
.starclass2-content p{margin:0; text-align: center;font-size: 12px;}
.starclass2-content img{width: 60%; margin: 0 auto; display: block;}
