	
<ion-content>


  	<div>
		<i class="product-top-position" ng-click="listclick('productList')">
				<img src="./icons/productDetailsPage-4.png">
		</i>
	 	<ion-slide-box auto-play="banner.autoPlay" does-continue="{{banner.doesContinue}}"
				slide-interval="{{banner.intervalTime}}" show-pager="{{banner.showPager}}" show-pager="{{banner.showPager}}">
			<ion-slide ng-repeat="x in images track by $index">
					<img class="full-image" ng-src="{{x.img}}"/>
			</ion-slide>
	  	</ion-slide-box>
	</div>

	<div class="productEvaluation-content">
		<div class="row">
			<div class="col">【前5分钟抢68元红包】汇美舍普罗旺斯醒目薰衣草精油 淡化痘印</div>
		</div>

		<div class="row">
			<div class="col">普罗旺斯 产地直供 祛痘淡印 助睡眠</div>
			<i class="icon ion-android-share-alt"></i>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p><span>原价</span>￥188.00</p>
		</div>

		<div class="col">
			<p><span>￥</span>138.00</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>快递：8.00</p>
		</div>

		<div class="col">
			<p>月销：2285</p>
		</div>

		<div class="col">
			广东广州
		</div>
	</div>

	<div class="row">
		<div class="col" ng-click="listclick('productDetailsPage')">
			<p><span>产品详情</span></p>
		</div>

		<div class="col">
			<p ng-click="listclick('productParameterPage')">产品参数</p>
		</div>

		<div class="col">
			<p>产品评价<i class="icon ion-arrow-down-b productEvaluation-icons-color"></i></p>
		</div>
	</div>

<div class="row">
	<div class="col">
		<p class="productEvaluation-p-position">
			<span class="productEvaluation-position-hr hr-left"></span>
				共有9999条评论
			<span class="productEvaluation-position-hr hr-right"></span>
		</p>
	</div>
</div>

	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col col-25 box-padding-left">
					<p>与描述相符</p>
					<h2 class="text-color-margin">4.9</h2>
					<p>
						<i class="icon ion-android-star-outline"></i>
						<i class="icon ion-android-star-outline"></i>
						<i class="icon ion-android-star-outline"></i>
						<i class="icon ion-android-star-outline"></i>
						<i class="icon ion-android-star-outline"></i>
					</p>
				</div>
				<div class="col">
					<div class="row text-border-right">
						<div class="col box-padding-right">
							<p>味道好闻(777)</p>
							<p class="overflow-height">服务态度好(99)</p>
							<p>有图(998)</p>
						</div>
						<div class="col box-padding-right"">
							<p>质量好(666)</p>
							<p>很划算(888)</p>
							<p>追加(555)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div>
<div>
<div class="row box-center-height">
	<div class="col">

	 <div class="row">

	 	<div class="col-50">
	  		
		  	<ion-item class="item-thumbnail-left box-img">
				<img src="./icons/productEvaluation-1.png">
					<p>h******4(匿名)</p>
				<p>2017.9.5</p>
			</ion-item>

	  	</div>

	  	<div class="col">
	  		<p>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>化妆品净含量：10 ml</p>
	  	</div>

	  </div>

	</div>
</div>
<div class="row">
	<div class="col">
		<p>精油赠品特别多 做活动买的													 非常划算！还没打开包装盒子就已经闻到香味了滴一滴在面霜里就特别特别润 		祛痘印效果还有待使用 发货快 客服态度好 很满意
		</p>
	</div>
</div>
	<div class="row">
		<div class="col">
			<p><i class="icon ion-eye"></i>浏览510次</p>
		</div>
		
		<div class="col">
			<p><i class="icon ion-ios-chatbubble-outline"></i>评论</p>
		</div>

		<div class="col">
			<p class="icons-color"><i class="icon ion-thumbsup"></i>点赞</p>
		</div>
	</div>
</div>

<div>
<div class="row box-center-height">
	<div class="col">

	 <div class="row">

	 	<div class="col-50">
	  		
		  	<ion-item class="item-thumbnail-left box-img">
				<img src="./icons/productEvaluation-2.png">
					<p>凤******0(匿名)</p>
				<p>2017.9.1</p>
			</ion-item>

	  	</div>

	  	<div class="col">
	  		<p>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>化妆品净含量：10 ml</p>
	  	</div>

	  </div>

	</div>
</div>
<div class="row">
	<div class="col">
		<p>活动时买的，很划算，买一送一。还没用，  也不知道效果怎样，用了再来评价，	不过包装很不错。客服态度不是特别好，有什么问题问她，感觉她会很不耐烦的样子
		</p>
	</div>
</div>
	<div class="row">
		<div class="col">
			<p><i class="icon ion-eye"></i>浏览510次</p>
		</div>
		
		<div class="col">
			<p><i class="icon ion-ios-chatbubble-outline"></i>评论</p>
		</div>

		<div class="col">
			<p><i class="icon ion-thumbsup"></i>取消点赞</p>
		</div>
	</div>
</div>


<div>
<div class="row box-center-height">
	<div class="col">

	 <div class="row">

	 	<div class="col-50">
	  		
		  	<ion-item class="item-thumbnail-left box-img">
				<img src="./icons/productEvaluation-3.png">
					<p>蜡笔没了小新</p>
				<p>2017.8.31</p>
			</ion-item>

	  	</div>

	  	<div class="col">
	  		<p>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>化妆品净含量：10 ml</p>
	  	</div>

	  </div>

	</div>
</div>
<div class="row">
	<div class="col">
		<p>
			趁着活动买的 一直挺喜欢汇美舍 天然的，还送了很多赠品。
		</p>
	</div>
</div>

<div class="row">
	<div class="col">
		<img src="./icons/productEvaluation-4.png">
	</div>
	<div class="col">
		<img src="./icons/productEvaluation-5.png">
	</div>
	<div class="col"></div>
</div>

	<div class="row">
		<div class="col">
			<p><i class="icon ion-eye"></i>浏览510次</p>
		</div>
		
		<div class="col">
			<p><i class="icon ion-ios-chatbubble-outline"></i>评论</p>
		</div>

		<div class="col">
			<p><i class="icon ion-thumbsup"></i>取消点赞</p>
		</div>
	</div>
</div>

<div>
<div class="row box-center-height">
	<div class="col">

	 <div class="row">

	 	<div class="col-50">
	  		
		  	<ion-item class="item-thumbnail-left box-img">
				<img src="./icons/productEvaluation-6.png">
					<p>習******赖(匿名)</p>
				<p>2017.8.21</p>
			</ion-item>

	  	</div>

	  	<div class="col">
	  		<p>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>化妆品净含量：10 ml</p>
	  	</div>

	  </div>

	</div>
</div>
<div class="row">
	<div class="col">
		<p>
			谢谢赠品，我用来去痘，有效果再追评。
		</p>
	</div>
</div>

	<div class="row">
		<div class="col">
			<p><i class="icon ion-eye"></i>浏览510次</p>
		</div>
		
		<div class="col">
			<p><i class="icon ion-ios-chatbubble-outline"></i>评论</p>
		</div>

		<div class="col">
			<p><i class="icon ion-thumbsup"></i>取消点赞</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>谢谢赠品，我用来去痘，有效果再追评。</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><i class="icon ion-eye"></i>浏览510次</p>
		</div>
		
		<div class="col">
			<p><i class="icon ion-ios-chatbubble-outline"></i>评论</p>
		</div>

		<div class="col">
			<p><i class="icon ion-thumbsup"></i>取消点赞</p>
		</div>
	</div>
</div>
</div>

<div class="row footer-text-sizes">
	<div class="col">
	 
		<p><i class="icon ion-android-textsms"></i>客服</p>
	
	</div>

	<div class="col">
		<p><i class="icon ion-android-star-outline"></i>收藏</p>
	</div>

	<div class="col">
		<p class="footer-border-lefts">加入购物车</p>
	</div>

	<div class="col">
		<p class="footer-border-rights">立即购买</p>
	</div>
</div>

</ion-content>