<div class="searchPage-content">
  <div class="isearchPage-list-image">
	<i  ng-click="classification()" class="icon  ion-arrow-left-c"></i>
	<p ng-click="productList()">搜索</p>
  </div>
<div class="searchpage-header">
		<span class="searchpage-header-top">
			<i><img src="./icons/index-1.png"></i>
			<font class="searchpage-header-text">扫一扫</font>
		</span>
		<p class="searchpage-input-text"><b><img src="./icons/index-2.png"></b><input type="text" name="" placeholder="普罗旺斯薰衣草系列面膜"></p>
		<p class="searchpage-header-right">
			<span>搜索</span>
			<img src="./icons/index-3.png">
		</p>
		<div class="box-clear-text">
			<span class="clear-text-left">历史搜索</span>
			<span class="position-clear-text">
			<i class="icon icon ion-trash-b"></i>
			清空历史记录
			</span>
		</div>
	</div>
	<div class="content-box">
		<div class="row">
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
	<div class="col col-bgcolor">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
	<div class="col col-bgcolor">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
	<div class="col col-bgcolor">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
</div>
</div>
<div class="content-center"><p><i class="icon ion-bonfire"></i>热门搜索</p></div>
	<div class="content-box">
		<div class="row">
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
	<div class="col col-bgcolor">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>面膜</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
	<div class="col col-bgcolor">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
	<div class="col col-bgcolor">
		<div class="col-demo col-border-margin">
			<span>玫瑰水润系列</span>
		</div>
	</div>
</div>
</div>

</div>