
	<ion-content>

	<div class="row index1-header-image">

		<div class="col col-20">
			<p class="index-p-first-image"><img src="./icons/index-1.png"></p>
			<p class="index4-text-color">扫一扫</p>
		</div>

		<div class="col index-div-position">
			<img src="./icons/index-2.png">
			<input class="input" type="text" name="" placeholder="普罗旺斯薰衣草系列面膜">
		</div>

		<div class="col col-20">
			<p class="index-right-text-size index4-text-color">搜索<img class="right-image-margin" src="./icons/index-3.png"></p>
		</div>

	</div>
	<ion-slide-box  does-continue="{{slide.doesContinue}}"
		auto-play="slide.autoPlay" 
		slide-interval="{{slide.intervalTime}}"
		show-pager="{{slide.showPager}}">

		<ion-slide>
			<div class="banner-image">
				<img ng-src="{{data.data.banner[0].imgurl}}" />
			</div>
		</ion-slide>
		<ion-slide>
			<div class="banner-image">
				<img ng-src="{{data.data.banner[1].imgurl}}" />
			</div>
		</ion-slide>

	<ion-slide>
		<div class="banner-image index-banner-nth3">
			<img ng-src="{{data.data.banner[2].imgurl}}" />
			<div class="banner-nth3-text">
				<p class="banner-nth1-p">PARFUM BERGER</p>
				<p class="banner-nth2-p">您好！首次见面</p>
				<p class="banner-nth3-p">我们带来充满法式香气的问候</p>
				<p class="banner-position"><b></b>来自法国的简雅主义家居香薰</p>
			</div>
		</div>
	</ion-slide>

	</ion-slide-box>

<div class="row">
	<div class="col">
		<div class="col-demo" ng-click="index('productList')">
			<ion-list>
				<ion-item class="item-thumbnail-top index-list-image">
					<img ng-src="{{data.data.clsify[4].largelmg}}"/>
					<span>{{data.data.clsify[4].text}}</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col col-bgcolor">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top index-list-image">
					<img ng-src="{{data.data.clsify[5].largelmg}}"/>
					<span>{{data.data.clsify[5].text}}</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top index-list-image">
					<img ng-src="{{data.data.clsify[6].largelmg}}">
					<span>{{data.data.clsify[6].text}}</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top index-list-image">
					<img ng-src="{{data.data.clsify[7].largelmg}}">
					<span>{{data.data.clsify[7].text}}</span>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>

<div>

<div class="index-aside-content">
	<div class="aside-content-bgcolor">
	<div class="aside-content-top">
		<h3>汇美舍尊享礼遇</h3>
		<div><p><span class="aside-top-lift-hr"></span>
			<font>一个ID限一份，不叠加，以实际收到的礼包为准</font>
			<span class="aside-top-right-hr"></span></p>
		</div>
	</div>
<div class="overflow">
	<div class="aside-div-left">
		<p>先领券再购物</p>
		<div><p class="div-left-border">￥<span>20</span>满268使用</p></div>
		<div><p class="div-left-border">￥<span>50</span>满598使用</p></div>
	</div>
	<div class="aside-div-right">
		<img ng-src="{{data.data.clsify[8].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[4].pid)"/>
		<p>实付￥{{data.data.clsify[8].price}}送</p>
		<p>{{data.data.clsify[8].text}}</p>
		<p>{{data.data.clsify[8].pname}}</p>
	</div>
</div>
<div class="overflow overflow-border-top">
	<div class="aside-div-left">
		<img ng-src="{{data.data.clsify[9].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[5].pid)"/>
		<p>实付￥{{data.data.clsify[9].price}}送</p>
		<p>{{data.data.clsify[9].pname}}</p>
	</div>
	<div class="aside-div-right">
		<img ng-src="{{data.data.clsify[10].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[6].pid)"/>
		<p>实付￥{{data.data.clsify[10].price}}送</p>
		<p>{{data.data.clsify[10].pname}}</p>
	</div>
</div>
</div>
<div class="aside-bgcolor">
<div class="aside-content-top">
		<h3 class="aside-text-color-center">镇店之宝热卖排行榜</h3>
		<div><p><span class="aside-top-lift-hr"></span>
			<font class="aside-text-color-center">爱上汇美舍实现美肌愿望  从这里开始</font>
			<span class="aside-top-right-hr"></span></p>
		</div>
</div>
	<div class="aside-position">
		<p class="aside-text-bgcolor">CFA国际芳疗师亲研</p>
		<img ng-src="{{data.data.clsify[11].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[7].pid)"/>
		<p class="aside-font-size">{{data.data.clsify[11].pname}}</p>
		<p>{{data.data.clsify[11].text}}</p>
		<p><span class="index4-text-color">￥69</span><font class="index4-text-color">立即购买></font></p>
	</div>
</div>

<div class="overflow overflow-border-top">
	<div class="aside-div-left aside-text-color">
		<img ng-src="{{data.data.clsify[0].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[0].pid)"/>
		<div class="text-border">
			<p class="aside-font-size">{{data.data.clsify[0].pname}}</p>
			<p class="aside-font-b"><b>{{data.data.clsify[0].text}}</b></p>
			<p class="p"><span class="aside-size-text">￥{{data.data.clsify[0].price}}</span><font class="aisde-border index4-text-color">立即购买></font></p>
		</div>
	</div>
	<div class="aside-div-right aside-text-color">
		<img ng-src="{{data.data.clsify[1].largelmg}}"  ng-click="detail('productDetailsPage',data.data.clsify[1].pid)"/>
		<p class="aside-font-size">{{data.data.clsify[1].pname}}</p>
		<p class="aside-font-b"><b>{{data.data.clsify[1].text}}</b></p>
		<p>
			<span class="index4-text-color">
				￥{{data.data.clsify[1].price}}
			</span>
			<font class="aisde-border">
				立即购买>
			</font>
		</p>
	</div>
</div>
<div class="overflow overflow-border-top">
	<div class="aside-div-left aside-text-color">
		<img  ng-src="{{data.data.clsify[2].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[2].pid)"/>
		<div class="text-border">
			<p class="aside-font-size">{{data.data.clsify[2].pname}}</p>
			<p class="aside-font-b"><b>{{data.data.clsify[2].text}}</b></p>
			<p class="p"><span class="aside-size-text">￥59</span><font class="aisde-border">立即购买></font></p>
		</div>
	</div>
	<div class="aside-div-right aside-text-color">
		<img  ng-src="{{data.data.clsify[3].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[3].pid)"/>
		<p class="aside-font-size">{{data.data.clsify[3].pname}}</p>
		<p class="aside-font-b"><b>{{data.data.clsify[3].text}}</b></p>
		<p class="aside-size-text"><span class="index4-text-color">￥{{data.data.clsify[3].price}}</span><font class="aisde-border">立即购买></font></p>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="col-demo aside-col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-left index-list-image-left">
					<img ng-src="{{data.data.clsify[12].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[8].pid)"/>
					<p>{{data.data.clsify[12].pname}}</p>
					<p><b>{{data.data.clsify[12].text}}</b></p>
					<p><span class="text-color-aisde">￥{{data.data.clsify[12].price}}</span><font class="border-color-aside">立即购买></font></p>
					<ul class="aisde-ul-top">
						<li>熟龄肌必备</li>
						<li>珍添玫瑰精华</li>
						<li>珍添檀香精华</li>
					</ul>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="col-demo aside-col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-right index-list-image-left">
					<img  ng-src="{{data.data.clsify[13].largelmg}}" ng-click="detail('productDetailsPage',data.data.clsify[9].pid)"/>
					<p>{{data.data.clsify[13].pname}}</p>
					<p><b>{{data.data.clsify[13].text}}</b></p>
					<p><span class="text-color-aisde">￥{{data.data.clsify[13].price}}</span><font class="border-color-aside">立即购买></font></p>
					<ul class="aisde-ul-bottom">
						<li>熟龄肌必备</li>
						<li>珍添玫瑰精华</li>
						<li>珍添檀香精华</li>
					</ul>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>
</div>
<!-- <div>{{data.data.clsify[0].pid}}</div> -->
<div class="row index-footer">
	<div class="col">
		
	</div>
</div>
</ion-content>
