
<ion-content  class="resetPwd-bg-image">
	<div class="row resetPwd-div-top-border">
		<div class="col" ng-click="resetpwd('login')">
			<p><i class="icon ion-android-arrow-back"></i></p>
		</div>
		<div class="col resetPwd2-div-top-text-align">重置密码</div>
		<div class="col"></div>
	</div>

<div>
	<div class="row resetPwd-input-border">
		<!-- <div class="col col-20"></div> -->
		<div class="col">
			<ion-itme class="item-thumbnail-center">
				<img class="resetPwd-image-center-size" src="./icons/signIn-1.png"/>
				<p>
					<input type="text" name="" placeholder="请输入手机号码" ng-model="userInfo.phone"/>
				</p>

				<p class="resetPwd2-input-size">
					<input class="btn1" type="text" name="" placeholder="请输入验证码" ng-model="userInfo.code"/>
					<input class="btn2" type="button" value="获取验证码" ng-click="getcode()"/>
				</p>

				<p><input type="password" name="" placeholder="请重置密码（6-20位数字或字母）" ng-model="userInfo.pwd"/></p>
				<p><input type="password" name="" placeholder="请确认新密码（6-20位数字或字母）" ng-model="userInfo.repwd"/></p>
				<button class="resetPwd-button-color"  ng-click="resetPassword()">
					重置密码
				</button>
			</ion-itme>
		</div>
		<!-- <div class="col col-20"></div> -->
	</div>
</div>
</ion-content>
