
html,body{height: 100%;}
.resetPwd-div-top-border{border: 1px solid #ea68a2; background:rgba(239,127,189,0.5); z-index: 2; color: #59002e;}
	.resetPwd2-div-top-text-align{text-align: center;}
	.resetPwd-image-center-size{width:90%; height: 50px; margin:25px auto; display: block;}
	.resetPwd-input-border input{border: 1px solid #ea68a2; width: 100%; margin:10% auto; text-indent: 2em;}
	.resetPwd-input-border p{margin: 5px 0; line-height: 40px;}
	.resetPwd-bg-image{background-image: url(../../image/signIn-1.jpg);
		background-repeat: no-repeat; background-size: cover;}
	.resetPwd2-input-size{ margin:0 !important; height: 34px !important; line-height: 34px!important;}
	.resetPwd2-input-size input{width: 49%; display: inline-block; padding:0; height: 34px;} 
	.resetPwd2-input-size .btn1{float: left; margin-right: 2%;}
	.resetPwd2-input-size .btn2{padding: 0; text-indent: 0;}
	.resetPwd-button-color{width: 100%; background-color: #bb0060; color: #fff; padding: 5px; margin: 5% 0;}