<div>
<ion-content>
	<div class="row pendingPayment-top-border">
		<div class="col" ng-click="publicprducts('publicfooter.midea')">
			<i class="icon ion-android-arrow-back"></i>
		</div>

		<div class="col">
			<p class="pendingPayment-p-top-text-align">待付款</p>
		</div>

		<div class="col"></div>
	</div>

	<div class="row">
		<div class="col pendingPayment2-div-position">
			<input type="text" name="" placeholder="在我的收藏里搜索">
			<span>搜索</span>
			<img src="./icons/index-2.png"/>
		</div>

		<div class="col col-20 pendingPayment3-div-position-icons">
			<i class="icon ion-ios-keypad-outline positive"></i>
		</div>
	</div>

	<div class="row pendingPayment2-p-align pendingPayment5-div-border">
		<div class="col">
			<p ng-click="publicprducts('allMyOrders')">全部</p>
		</div>
		<div class="col">
			<p class="pendingPayment2-p-text-color">待付款<i class="icon ion-android-arrow-dropdown"></i></p>
		</div>

		<div class="col" ng-click="publicprducts('pendingDelivery')">
			<p>待发货</p>
		</div>

		<div class="col" ng-click="publicprducts('goodsToBeReceived')">
			<p>待收货</p>
		</div>
		<div class="col" ng-click="publicprducts('toBeEvaluated')">
			<p>待评价</p>
		</div>
	</div>




	<div ng-repeat="item in code.pending track by $index" class="pendingPayment3-div-bg-color">
	  <div class="row pendingPayment4-div-border">
		<div class="col col-33">
			<p class="pendingPayment3-p-image-size"><img ng-src="{{item.imgurl}}"></p>
		</div>

		<div class="col">
			<p>{{item.sname}}清爽补水保湿细致毛孔精华,舒缓修护淡化痘印</p>
			<p class="pendingPayment9-text-align" ng-click="payment(item)"><span class="pendingPayment-span-text-color">去付款</span></p>
			<p><span>共1件商品 合计：</span><span class="pendingPayment2-span-text-color">￥{{item.price}}</span></p>
		</div>
	  </div>

	  <div class="row">
	  	<div class="col pendingPayment6-div-align">
	  		<p class="pendingPayment4-p-icons-color">
	  			<i class="icon ion-ios-trash"></i>删除订单
	  		</p>
	  	</div>
	  	<div class="col pendingPayment6-div-align">
	  		<p class="pendingPayment4-p-border">查看物流</p>
	  	</div>
	  	<div class="col pendingPayment6-div-align">
	  		<p class="pendingPayment4-p-border">提醒发货</p>
	  	</div>
	  </div>
	</div>

	
	<div class="row pendingPayment7-div-padding">
		<div class="col pendingPayment7-div-position"><i class="pendingPayment-footer-hr-position"></i></div>
		<div class="col">
			<p class="pendingPayment5-p-footer-align">加载完成</p>
		</div>
		<div class="col pendingPayment7-div-position"><i class="pendingPayment-footer-hr-position"></i></div>
	</div>
	<span class="footer-position-icons">
		<i class="icon ion-arrow-up-a"></i>
	</span>
</ion-content>
</div>