

 <ion-content>
<div class="productDetailsPage2-div-top">
	<i class="productDetailsPage5-top-position" ng-click="productList('publicfooter.index')">
	<img class="productDetailsPage6-top-img" src="./icons/productDetailsPage-4.png"></i>
	<!--  <ion-slide-box auto-play="banner.autoPlay" does-continue="{{banner.doesContinue}}"
		slide-interval="{{banner.intervalTime}}" show-pager="{{banner.showPager}}" show-pager="{{banner.showPager}}">
		<ion-slide ng-repeat="x in images track by $index">
			<img class="full-image" ng-src="{{x.img}}"/>
		</ion-slide>
	  </ion-slide-box> -->
	
	 <img class="productDetailsPage3-img-top" ng-src="{{data.product[0].imgurl}}">
</div>
	<div class="productDetails-content-bg-color">
	<!-- <div class="image-top"><img src="./image/productDetailsPage-1.jpg"></div> -->
	<div class="productDetailsPage-content">
		<div class="row">
			<div class="col productDetailsPage7-font-align">{{data.product[0].name}}</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><span>原价</span><s>￥{{data.product[0].oldprice}}.00</s></p>
		</div>

		<div class="col">
			<p><span>现价:</span>{{data.product[0].price}}</p>
		</div>

		<div class="col">
			<p>月销：{{data.product[0].sales}}</p>
		</div>
	</div>

<!-- 	<div class="row">
		<div class="col">
			<p>快递：<s style="color: red;">8.00</s></p>
		</div>

		<div class="col">
			
		</div>

		<div class="col">
			
		</div>
	</div>
 -->
	<div class="row">
		<div class="col">
			<p><span>产品详情</span><i id="productDetailsPage-icons-color" class="icon ion-arrow-down-b"></i></p>
		</div>

		<div class="col">
			<p ng-click="productParameterPage()">产品参数</p>
		</div>

		<div class="col" ng-click="productList('productEvaluation')">
			<p>产品评价</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>品牌</p>
		</div>

		<div class="col">
			<p> Pretty Valley</p>
		</div>

		<div class="col">
			<p>汇美舍</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>产地 </p>
		</div>

		<div class="col">
			<p>中国</p>
		</div>

		<div class="col">
			<p>广东 : {{data.product[0].addres}}</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>精油心理疗效</p>
		</div>

		<div class="col">
			<p>改善失眠</p>
		</div>

		<div class="col">
			<p>陶治情操</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>精油身体疗效 </p>
		</div>

		<div class="col">
			<p>其他</p>
		</div>

		<div class="col">
			<p>other</p>
		</div>
	</div>

	<div class="row">
		<div class="col col-33">
			<p>精油皮肤疗效</p>
		</div>

		<div class="col productDetailsPage8-color-align">
			<p>{{data.product[0].describe}}</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>适合肤质</p>
		</div>

		<div class="col">
			<p>任何肤质</p>
		</div>

		<div class="col">
			<p>在线下单免邮</p>
		</div>
	</div>

<div class="row footer-text-size">
	<div class="col">
	 
		<p><i class="icon ion-android-textsms"></i>客服</p>
	
	</div>

	<div class="col">
		<p><i class="icon ion-android-star-outline"></i>收藏</p>
	</div>

	<div class="col" ng-click="productList2()">
		<p class="productDetailsPage9-color-text footer-border-left">加入购物车</p>
	</div>

	<div class="col" ng-click="shopping()">
		<p class="productDetailsPage9-color-text footer-border-right">立即购买</p>
	</div>
</div>

	<div class="row product-image-padding">
		<div class="col productDetailsPage-content-center-image">
			<img class="full-image" src="./image/productDetailsPage-6.jpg">
		</div>
	</div>

<div>
	<div class="row">
		<div class="col">
			<p class="content-text-center">汇美舍与法国拥有百年历史</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="content-text-center">当地大型的精油厂商HF共商合作</p>
		</div>
	</div>

	<div class="row">

		<div class="col productist-image-size">
		<img src="./icons/productDetailsPage-5.png">
		</div>

		<div class="col image-lift-li">
			<div class="row">
				<div class="col">
					<img src="./icons/productDetailsPage-1.png">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="./icons/productDetailsPage-2.png">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="./icons/productDetailsPage-3.png">
				</div>
			</div>
		</div>

	</div>

<div class="productDetails-content-li-images">

	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-7.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-8.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-9.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-10.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-11.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-12.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-13.jpg">
		</div>
	</div>
	
</div>

</div>

</div>


</ion-content>