

 <ion-content>
<div>
	<i class="top-position" ng-click="productList('productList')"><img src="./icons/productDetailsPage-4.png"></i>
	 <ion-slide-box auto-play="banner.autoPlay" does-continue="{{banner.doesContinue}}"
		slide-interval="{{banner.intervalTime}}" show-pager="{{banner.showPager}}" show-pager="{{banner.showPager}}">
		<ion-slide ng-repeat="x in images track by $index">
			<img class="full-image" ng-src="{{x.img}}"/>
		</ion-slide>
	  </ion-slide-box>
</div>
	<div class="content-bg-color">
	<!-- <div class="image-top"><img src="./image/productDetailsPage-1.jpg"></div> -->
	<div class="productDetailsPage-content">
		<div class="row">
			<div class="col">【前5分钟抢68元红包】汇美舍普罗旺斯醒目薰衣草精油 淡化痘印</div>
		</div>

		<div class="row">
			<div class="col">普罗旺斯 产地直供 祛痘淡印 助睡眠</div>
			<i class="icon ion-android-share-alt"></i>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><span>原价</span>￥188.00</p>
		</div>

		<div class="col">
			<p><span>￥</span>138.00</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>快递：8.00</p>
		</div>

		<div class="col">
			<p>月销：2285</p>
		</div>

		<div class="col">
			广东广州
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><span>产品详情</span><i id="productDetailsPage-icons-color" class="icon ion-arrow-down-b"></i></p>
		</div>

		<div class="col">
			<p ng-click="productParameterPage()">产品参数</p>
		</div>

		<div class="col" ng-click="productList('productEvaluation')">
			<p>产品评价</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>品牌</p>
		</div>

		<div class="col">
			<p> Pretty Valley/汇美舍</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>产地 </p>
		</div>

		<div class="col">
			<p>中国</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>精油心理疗效</p>
		</div>

		<div class="col">
			<p>改善失眠</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>精油身体疗效 </p>
		</div>

		<div class="col">
			<p>其他/other</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>精油皮肤疗效</p>
		</div>

		<div class="col">
			<p>控油/舒缓肌肤/淡化痘印</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>适合肤质</p>
		</div>

		<div class="col">
			<p>任何肤质</p>
		</div>

		<div class="col">
			
		</div>
	</div>

	<div class="row product-image-padding">
		<div class="col content-center-image">
			<img class="full-image" src="./image/productDetailsPage-6.jpg">
		</div>
	</div>

<div>
	<div class="row">
		<div class="col">
			<p class="content-text-center">汇美舍与法国拥有百年历史</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="content-text-center">当地大型的精油厂商HF共商合作</p>
		</div>
	</div>

	<div class="row">

		<div class="col productList-image-size">
		<img src="./icons/productDetailsPage-5.png">
		</div>

		<div class="col image-lift-li">
			<div class="row">
				<div class="col">
					<img src="./icons/productDetailsPage-1.png">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="./icons/productDetailsPage-2.png">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<img src="./icons/productDetailsPage-3.png">
				</div>
			</div>
		</div>

	</div>

<div class="content-li-images">

	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-7.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-8.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-9.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-10.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-11.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-12.jpg">
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<img src="./image/productDetailsPage-13.jpg">
		</div>
	</div>
	
</div>

<div class="row footer-text-size">
	<div class="col">
	 
		<p><i class="icon ion-android-textsms"></i>客服</p>
	
	</div>

	<div class="col">
		<p><i class="icon ion-android-star-outline"></i>收藏</p>
	</div>

	<div class="col" ng-click="productList('publicfooter.shoppingCart')">
		<p class="footer-border-left">加入购物车</p>
	</div>

	<div class="col">
		<p class="footer-border-right">立即购买</p>
	</div>
</div>

</div>

</div>
</ion-content>
