
	<div ui-view></div>
<div>
<ion-tabs class="tabs-balanced tabs-icon-top">

		  <ion-tab class="active" ng-click="publicfooter('publicfooter.index')" 
		  title="首页"  icon-on="icon ion-ios-home-outline" icon-off="icon ion-ios-home">
		  </ion-tab>
		  <ion-tab title="分类" ng-click="publicfooter('publicfooter.classification.scheme')"
		  icon-on="icon ion-ios-keypad" icon-off="icon ion-ios-keypad-outline">
		  </ion-tab>
		   <ion-tab title="购物车" ng-click="publicfooter('publicfooter.shoppingCart')"
		   icon-on="icon ion-ios-car" icon-off="icon ion-ios-cart-outline">
		  </ion-tab>
		  <ion-tab title="我的" ng-click="publicfooter('publicfooter.midea')"
		  icon-on="icon ion-ios-person" icon-off="icon ion-ios-person-outline">
		  </ion-tab>
</ion-tabs>
</div>