<ion-content>
<div class="row title shoppingCart2-top-bgcolor">
		<div class="col">
			<p>购物车(5)</p>
		</div>
	</div>
	<div class="row nav">
		<div class="col">
			<p class="shoppingCart-nav-input">
				<i class="icon ion-android-search"></i>
				<input type="text" placeholder="在我的购物车里搜索">
				<span>搜索</span>
			</p>
		</div>
	</div>	

	<div class="row">
		<div class="col">
			<p class="text-align-right">编辑</p>
		</div>
	</div>

	<div class="row shoppingCart-p-margin" ng-repeat="item in shopping track by $index">
		<div class="col col-20 shoppingCart-images">
			<img ng-src="{{item.imgsurl}}" ng-click="shopping2('productDetailsPage',item.datas)"/>
		</div>
		<div class="col">
			<div class="row shoppingCart-border-bottom-top">
				<div class="col">
					<p>
						{{item.name}}
					</p>
					<p>
						{{item.span}} <span class="{{item.cls}} shoppingCart-margin-left">{{item.span2}}</span>
						<i class="icon ion-android-star-outline icons-color text-padding-left iconColor" 
						ng-click="collections($index)"></i>
					</p>
					<p class="shoppingCart-text-align">x{{item.textright}}</p>
					<p>
						<span class="shoppingCart-color-text">{{item.textcolor}}</span>
						<font class="shoppingCart-color-text">￥{{item.price}}</font>{{item.footertext}}
					</p>
				</div>
				<div class="col col-20 icons-position">
					<p>
				       <input type="checkbox" ng-model="item.check" ng-click="changeCheckbox()"/>
				    </p>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="shoppingCart-position">
			<i class="icon ion-heart position-nth1"></i>
			<span class="hr-left"></span>
			<i class="center-position icon ion-heart"></i>
			<i class="center-hr-position"><b></b></i>
			<font class="shoppingCart-position-text">猜你喜欢</font>
			<p class="position-lest-hr"></p>
			<i class="icon ion-heart position-icons-lest"></i>
		</div>
	</div>

	<div class="row shoppingCart-image-size">
		<div class="col">
			<p><img ng-src="{{dete.data.shopp[0].imgsurl}}" ng-click="shopping2('productDetailsPage',data.data.clsify[10].pid)"/></p>
			<p>{{dete.data.shopp[0].sname}}</p>
			<p class="icons-align" ng-click="collection2(dete.data.shopp[0])">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥{{dete.data.shopp[0].price}}</span>333人付款</p>
		</div>

		<div class="col">
			<p><img ng-src="{{dete.data.shopp[1].imgsurl}}" ng-click="shopping2('productDetailsPage',data.data.clsify[11].pid)"/></p>
			<p>
				{{dete.data.shopp[1].sname}} 
			</p>
			<p class="icons-align" ng-click="collection2(dete.data.shopp[1])">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥{{dete.data.shopp[1].price}}</span>666人付款</p>
		</div>
	</div>

	<div class="row shoppingCart-image-size">
		<div class="col">
			<p><img ng-src="{{dete.data.shopp[2].imgsurl}}" ng-click="shopping2('productDetailsPage',data.data.clsify[12].pid)"/></p>
			<p>{{dete.data.shopp[2].sname}}</p>
			<p class="icons-align" ng-click="collection2(dete.data.shopp[2])">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥{{dete.data.shopp[2].price}}</span>333人付款</p>
		</div>

		<div class="col">
			<p><img ng-src="{{dete.data.shopp[3].imgsurl}}" ng-click="shopping2('productDetailsPage',data.data.clsify[13].pid)"/></p>
			<p>
				{{dete.data.shopp[3].sname}}
			</p>
			<p class="icons-align" ng-click="collection2(dete.data.shopp[3])">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥{{dete.data.shopp[3].price}}</span>999人付款</p>
		</div>
	</div>

	<div class="row shoppingCart-image-size">
		<div class="col">
			<p><img ng-src="{{dete.data.shopp[4].imgsurl}}" ng-click="shopping2('productDetailsPage',data.data.clsify[14].pid)"/></p>
			<p> {{dete.data.shopp[4].sname}}</p>
			<p class="icons-align" ng-click="collection2(dete.data.shopp[4])">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥{{dete.data.shopp[4].price}}</span>333人付款</p>
		</div>

		<div class="col">
			<p><img ng-src="{{dete.data.shopp[5].imgsurl}}" ng-click="shopping2('productDetailsPage',data.data.clsify[15].pid)"/></p>
			<p>
				{{dete.data.shopp[5].sname}}
			</p>
			<p class="icons-align" ng-click="collection2('dete.data.shopp[5]')">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥{{dete.data.shopp[5].price}}</span>666人付款</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="shoppingcart2-text-align">
				所选商品合计:
			</p>
		</div>
		<div class="col">
			<p><input class="shoppingcart3-footer-input" type="text" disabled="true" name=""
			 ng-model="sum">
			</p>
		</div>
		<div class="col">
			<p class="footer-background-color" ng-click="settlement('publicfooter.settlement')">
				结算
			</p>
		</div>
	</div>

	<div class="row shoppingcart-footer">
		<div class="col"></div>
	</div>

</ion-content>
