<ion-content class="content-center-bg-image">
	<div class="row microBlog-div-top-border">
		<div class="col"  ng-click="microblog('login')">
			<p><i class="icon ion-android-arrow-back"></i></p>
		</div>
			<div class="col microBlog2-div-top-text-align">微博登录</div>
		<div class="col"></div>
	</div>

<div>
	<div class="row">
		<div class="col">
			<img class="nth-image-size" src="./icons/signIn-1.png"/>
		</div>
	</div>

	<div class="row microBlog5-div-margin-center">
		<div class="col"></div>
		<div class="col microBlog3-div-position">
			<img class="microBlog2-image-size" src="./icons/microBlog-1.png"/>
		</div>
		<div class="col">
		    <div class="row">
				<div class="col">
					<i class="icon ion-ios-arrow-thin-right"></i>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<i class="icon ion-ios-arrow-thin-left"></i>
				</div>
			</div>

		</div>
		<div class="col microBlog3-div-position">
			<img class="microBlog2-image-size" src="./icons/microBlog-2.png"/>
		</div>
		<div class="col"></div>
	</div>

	<div class="row microBlog4-div-margin">
		<div class="col col-10"></div>
		<div class="col">
			<p class="nth-p-text-color">
				<img src="./icons/midea-1.png"/>
					<span>若只如初见っ</span>
				<font>切换帐号</font>
			</p>

			<p><button class="microBlog-button-color">授权并登录</button></p>
			<p class="microBlog2-p-text-color">该应用将访问你的公开资料，好友信息。</p>
			<p class="microBlog2-p-text-color">更多权限:</p>
			<p class="microBlog2-p-text-color"><i class="icon ion-android-checkbox-outline-blank"></i>关注汇美舍APP的微博</p>
		</div>
		<div class="col col-10"></div>
	</div>
</div>
</ion-content>
