<div>
<div class="skincaresteps-margin-top">
<!-- skincaresteps-content -->
<div class="row">
	<div class="col skincaresteps-margin-left">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top skincaresteps-content-image">
					<img src="./icons/skincaresteps-1.png">
					<span>洁面</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-2.png/">
					<span>花露</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-3.png">
					<span>精华</span>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>
<!-- skincaresteps-content -->
<div class="row">
	<div class="col skincaresteps-margin-left">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-6.png">
					<span>乳液</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-5.png">
					<span>眼霜</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-4.png">
					<span>身体护理</span>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>
<!-- skincaresteps-content -->
 <div class="row">
	<div class="col skincaresteps-margin-left">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-7.png">
					<span>手部护理</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top  skincaresteps-content-image">
					<img src="./icons/skincaresteps-8.png">
					<span>面霜</span>
				</ion-item>
			</ion-list>
		</div>
	</div>

	<div class="col">
		<div class="col-demo">
			<ion-list>
				<ion-item class="item-thumbnail-top skincaresteps-content-image">
					<img src="./icons/skincaresteps-9.png">
					<span>面膜</span>
				</ion-item>
			</ion-list>
		</div>
	</div>
 </div>
</div>
</div>

