<div>
<div class="skincaresteps-margin-top">
<!-- skincaresteps-content -->
<div class="row">
	<div class="row skincaresteps-margin-left">
		<div class="col" ng-repeat="item in data.skincaresteps track by $index">
			<ion-list>
				<ion-item class="item-thumbnail-top skincaresteps-content-image">
					<img ng-src="{{item.imgurl}}" ng-click="skincaresteps('productDetailsPage',item.did)">
					<span>{{item.name}}</span>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>
<!-- skincaresteps-content -->
<div class="row">
	<div class="row skincaresteps-margin-left">
		<div class="col" ng-repeat="item in data.skincaresteps1 track by $index">
			<ion-list>
				<ion-item class="item-thumbnail-top skincaresteps-content-image">
					<img ng-src="{{item.imgurl}}" ng-click="skincaresteps('productDetailsPage',item.did)">
					<span>{{item.name}}</span>
				</ion-item>
			</ion-list>
		</div>
	</div>
</div>
<!-- skincaresteps-content -->
<div class="row">
 <div class="row skincaresteps-margin-left">
	<div class="col" ng-repeat="item in data.skincaresteps2 track by $index">
		<ion-list>
			<ion-item class="item-thumbnail-top skincaresteps-content-image">
				<img ng-src="{{item.imgurl}}" ng-click="skincaresteps('productDetailsPage',item.did)">
				<span>{{item.name}}</span>
			</ion-item>
		</ion-list>
	</div>
 </div>
</div>
</div>
</div>

