.skincaresteps-margin-left{margin-left: 20%;}
.skincaresteps-content-image{padding: 0; background-color: #ddd;}
.skincaresteps-content-image span{color: #777; display: inline-block; width: 100%; text-align: center; font-size:12px;}
.skincaresteps-content-image img{width:100%; height: 60px; display: block; margin: 0 auto;}


