<div>
<ion-content>
	<div class="row managementAddress2-top-border">
		<div class="col" ng-click="addOclick('publicfooter.midea')">
			<i class="icon ion-android-arrow-back"></i>
		</div>

		<div class="col">
			<p class="managementAddress2-p-top-text-align">管理收货地址</p>
		</div>

		<div class="col"></div>
	</div>

	

<div ng-repeat="x in address track by $index">

	  <div class="row">
		<div class="col">
			<p class="managementAddress3-p-text-align">{{x.username}} <span>{{x.phone}}</span></p>
			<p class="managementAddress3-p-text-align" ng-bind="x.addres"></p>
		</div>

		<div class="col col-20 managementAddress2-div-right">
			<p class="managementAddress2-p-icons-align"><i class="icon ion-compose"></i></p>
			<p ng-bind="x.editAddress"></p>
		</div>
	  </div>

	  <div class="row managementAddress4-div-border">
	  	<div class="col managementAddress3-div-footer-text-color" ng-class="{'item-first':$first}">
	  		<p class="managementAddress4-p-text-indent a">
	  			<i class="icon ion-android-checkbox-outline"></i>{{x.selectAddress}}
	  		</p>
	  	</div>

	  	<div class="col col-33 managementAddress5-div-position">
	  		<img src="./icons/managementAddress-1.png"/>
	  	</div>

	  	<div class="col"  ng-click="deletes($index)">
	  		<p class="managementAddress4-p-text-indent">
	  			<i class="icon ion-ios-trash-outline"></i>
	  			{{x.delete}}
	  		</p>
	  	</div>
	  </div>
</div>
	<div class="row managementAddress7-div-position">
		<div class="col managementAddress7-div-div-position">
			<p class="managementAddress7-div-button-position" ng-disabled="abl" ng-click="add()">
			确定添加
			</p>
		</div>
	</div>

	<div class="row managementAddress6-div-footer-position" >
		<div class="col" ng-click="addOclick('newlyIncreasedAddress')">
			<p>新增收货地址</p>
		</div>
	</div>

	
</ion-content>
</div>