
<ion-content class="qqlogin-bg-image">
	<div class="row qqLogin-div-top-border">
		<div class="col" ng-click="qqlogin('login')">
			<p><i class="icon ion-android-arrow-back"></i></p>
		</div>
		<div class="col qqLogin2-div-top-text-align">QQ登录</div>
		<div class="col"></div>
	</div>

	<div>
		<div class="nth3-div-margin-top">
		<div class="row nth4-div-padding">
			<div class="col bg-color-top">
				<p  class="qqlogin-p-icos-align">
					<i class="icon ion-android-checkbox-outline-blank"></i>
				</p>
				<p class="qqlogin2-p-image-align">
					<img src="./icons/signIn-1.png"/>
				</p>
			</div>
		</div>

		<div class="qqlogin3-div-bgcolor">
		<div class="row">
			<div class="col">
				<ion-itme class="item-thumbnail-left nth-ion-image-size">
				<p>
					<img class="nth2-image-center-size" src="./icons/midea-1.png"/>
					若只如初见っ<span>(19210102560)</span>
				</p>
				</ion-itme>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<p class="nth3-p-text-color">使用QQ帐号授权并登录</p>
				<ul class="qqlogin-ul-color">
					<li>访问你的基础信息</li>
					<li>访问你的腾讯微博资料</li>
					<li>分享内容到腾讯微博</li>
					<li>获得你的微博好友信息</li>
					<li>关注该网站认证空间</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col qqLogin4-footer-div">
			<button class="qqLogin-button">授权并登录</button>
			<p>切换帐号</p>
		</div>
	</div>
</ion-content>
