.myCollection-top-border{border: 1px solid #ea68a2;background:#ddd; z-index: 2; color: #59002e; height: 40px;
	border-radius: 5px;}
	.myCollection7-div-margin{margin: 10px auto !important;}
.myCollection-p-top-text-align{text-align: center; color: #5b0061;}

.myCollection2-div-position{position: relative;}
	.myCollection2-div-position input{border: 1px solid #777; background-color: #ededed;
	border-radius: 20px; height: 40px; line-height: 40px; text-indent: 40px; margin-right: 10px;
	display: inline-block; width: 80%;}
	.myCollection2-div-position img{position: absolute; width: 20px; height:20px; top:15px;
	left: 20px; }
	.myCollection3-div-position-icons{position: relative;}
	.myCollection3-div-position-icons i{position: absolute; top: 0;left: 0; bottom: 0; right: 0;
		margin: auto; width: 20px; height: 20px; color: #fc99fb;}
	.myCollection4-div-image-size{position: relative;}
	.myCollection4-div-image-size img{width:100%;position: absolute; top: 0; left: 0; right: 0; bottom: 0;
		margin: auto; height: 80%;}
	.myCollection2-p-text-align{text-align: center; margin: 0; line-height: 40px;}
	.myCollection5-div-icons-color p{margin: 0; line-height: 20px; text-align: center;}
	.myCollection5-div-icons-color i{color: #f9c740;}
	.myCollection6-div-p-text-align p{text-align: center; margin: 0; color: #777;}
	.productTextcolor{color: #fe0000;}
	.spanBorder-color{color: #ffb867;}
	.myCollection4-pstion-span{margin-left: 5px;}
	.mycollection8-bg-div{background-color: #eee;}
.footer-icons-color{color: #ffa9ff; display: inline-block; text-align: right;}
