
<ion-content>
	<div>
		<h3 class="compiler-header-align">购物车(5)</h3>
	</div>



	<div class="row compiler-p-margin" ng-repeat="data in data.compiler track by $index">
		<div class="col col-33 compiler2-images">
			<img ng-src="{{data.imgurl}}">
		</div>

		<div class="col col-33 compiler3-text-align">
			<div class="row compiler4-price compiler-text-border">
				价格:{{data.price}}
			</div>
			<div class="row compiler5-number">
					<div class="row compiler6-padding-div">
						<div class="col compiler7-border-box compiler-text-border" ng-click="subtrack($index)">-</div>
						<div class="col col-33 compiler6-padding-div">
							<input class="compiler8-number-input" type="text" ng-model="data.numprice"> 
						</div>
						<div class="col compiler7-border-box compiler-text-border" ng-click="pule($index)">+</div>
					</div>
			</div>

			<div class="row compiler9-div-padding compiler-text-border">
				<div class="col compiler10-padding-number">净含量：10ml
					<i class="nth-icons-padding icon ion-ios-arrow-down"></i>
				</div>
			</div>
		</div>

		<div class="col col-20 compiler6-padding-div compiler11-position-seles">
			<input class="compiler12-position-option" type="checkbox" ng-model="data.check" ng-click="changeCheckbox()">
		</div>

	</div>

	


	<div class="row">
		<div class="col">
			<p class="compiler16-position-price">
				<span class="compiler15-price-text">全选:</span><input class="compiler14-check-option" type="checkbox" name="" ng-model="allCheck"   ng-click="allSelect(allCheck)">
			</p>
		</div>
		<div class="col">
			<p>合计:<input class="compiler13-price-option" type="" name="" ng-model="sum"></p>
		</div>
		<div class="col">
			<p class="footer-background-color" ng-click="compiles()">
				结算
			</p>
		</div>
	</div>

	<div>
		<div class="compiler-position">
			<i class="icon ion-heart position-nth1"></i>
			<span class="hr-left"></span>
			<i class="center-position icon ion-heart"></i>
			<i class="center-hr-position"><b></b></i>
			<font class="compiler-position-text">猜你喜欢</font>
			<p class="position-lest-hr"></p>
			<i class="icon ion-heart position-icons-lest"></i>
		</div>
	</div>

	<div class="row compiler-image-size">
		<div class="col">
			<p><img src="./icons/shoppingCart-6.png"></p>
			<p>汇美舍保加利亚玫瑰补水套装补水护肤品套装</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥915.00</span>333人付款</p>
		</div>

		<div class="col">
			<p><img src="./icons/shoppingCart-7.png"></p>
			<p>
				汇美舍玫瑰檀香丝柔润滑套装保湿补水平滑提亮套装 
			</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align  shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥434.00</span>666人付款</p>
		</div>
	</div>

	<div class="row compiler-image-size">
		<div class="col">
			<p><img src="./icons/shoppingCart-8.png"></p>
			<p>汇美舍精油玫瑰丰润提升精油50ml紧致提升弹性弹润胸部</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥390.00</span>333人付款</p>
		</div>

		<div class="col">
			<p><img src="./icons/shoppingCart-9.png"></p>
			<p>
				汇美舍保加利亚大马士革玫瑰精油5ML单方精油香薰滋养
			</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥498.00</span>999人付款</p>
		</div>
	</div>

	<div class="row compiler-image-size">
		<div class="col">
			<p><img src="./icons/shoppingCart-10.png"></p>
			<p>汇美舍茉莉玫瑰籽水漾舒缓爽肤液150ml爽肤水舒缓</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥102.00</span>333人付款</p>
		</div>

		<div class="col">
			<p><img src="./icons/shoppingCart-11.png"></p>
			<p>
				汇美舍普罗旺斯薰衣草菁华液160ml 补水保湿滋润控油爽
			</p>
			<p class="icons-align">
				<i class="icon ion-android-star-outline"></i>
			</p>
			<p>
				<span>在线下单</span><font>包邮</font>
			</p>
			<p class="icons-align shoppingCart-color">
				<i class="icon ion-ios-cart-outline"></i>
			</p>
			<p><span class="product-text-color">￥110.00</span>666人付款</p>
		</div>
	</div>

	<div class="row compiler-footer">
		<div class="col"></div>
	</div>
</ion-content>
