
.compiler-header-align{display: block; width: 100%; text-align: center; border: 1px solid #ddd; font-size: 16px; height: 44px; line-height: 44px;}

.compiler2-images{padding: 0; height: 100px;}
.compiler2-images img{width: 100%; display: block; height: 100%;}

	.compiler-p-margin{margin: 0; text-align: center; margin-top: 5px !important;}
		.compiler3-text-align{text-align: center; padding: 0; width: 80%; margin: 0 auto; display: block;}
	.compiler7-border-box{	padding: 0; height: 30px; line-height: 30px;}
	.compiler4-price{padding: 0; height: 30px; line-height: 30px; text-align: center; display: block;}
	.compiler5-number{padding: 0; margin-top:5px !important;}
	.compiler6-padding-div{padding: 0;}
	.compiler8-number-input{height: 30px !important; line-height: 30px !important; display: inline-block; width: 100%; text-align: center;}
	.compiler9-div-padding{padding: 0; margin-top: 5px !important;}
	.compiler10-padding-number{padding: 0; height: 30px; line-height: 30px;}
	.compiler11-position-seles{position: relative;}
	.compiler12-position-option{position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto !important;;
	   	border-radius: 50%; width: 30px; height: 30px;}
	.compiler13-price-option{display: inline-block; width: 60px; border: 1px solid #ddd; border-radius: 5px; }
    .compiler14-check-option{position: absolute; left: 35px; top: 5px; width: 10px; height: 10px;}
    .compiler15-price-text{display: inline-block; height: 20px;}
    .compiler16-position-price{position: relative;}

.compiler-color-text{color: #fe1b1b; padding-right: 15px;}
	.icons-color{color: #fad36a;}
	.compiler-text-border{border: 1px solid #ff9c00; color: #ff9c00;}
	.icons-position{position: relative;}
	.text-padding-left{padding-left: 40px;}
	.icons-position i{position: absolute; top: 0; left: 0; right: 0; bottom: 0;
		margin: auto; width: 15px; height: 15px;}
	.position-nth1{position: absolute; top: 16px; left: calc(20% - 6px); color: #f900c7;}
	.compiler-position{position: relative; line-height: 0px; padding: 0; margin: 0 auto;}
	.hr-left{position: absolute; width: 30%; border-bottom: 1px solid #f900c7;
		top: 21px; left:calc(20%);}
	.center-position{position: absolute; left:calc(50% - 12px); top:22px; color: #ff0000;}
	.center-hr-position b{position:absolute; left: calc(50%); top: 22px;
		height: 22px; border-left: 1px solid #a1a1a1;}
	.compiler-position-text{position: absolute;top: 35px; left: calc(50% + 5px);}
	.position-lest-hr{position: absolute; left: calc(50%); width: 30%;
		border-bottom: 1px solid #f900c7; line-height: 0; top: 44px;}
.position-icons-lest{position: absolute; top: 40px; left: calc(80%);
	color: #f900c7;}

.compiler-image-size{padding-top: 50px;}
	.compiler-image-size img{width: 100%; display: block; margin: 0;}
	.compiler-image-size p{margin: 0;}
	.icons-align{text-align: right; padding-right: 20px;}
	.icons-align i{color: #f7c94d;}
	.shoppingCart-color i{color: #ff0000;}
	.product-text-color{color: #fe0000; padding-right: 20px;}
	.footer-background-color{background-color: #e60012; color: #fff;
		text-align: center;}
.compiler-footer{height: 50px;}